.info_us {
    margin: 0 auto 105px;
    width: 100%;
    padding: 33px 125px;
}

.about__us {
    margin-top: 83px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.59px;
    letter-spacing: -0.03em;
    color: rgba(18, 18, 18, 1);
}

.text_description {
    margin-top: 32px;
    margin-bottom: 43px;
    width: 1048px;
    font-size: 45px;
    line-height: 61.47px;
    letter-spacing: -0.03em;
}

.btn__link {
    font-size: 20px;
    line-height: 27.32px;
    letter-spacing: -0.03em;
    padding: 20px 40px 20px 40px;
    border-radius: 5px;
    color: aliceblue;
    text-decoration: none;
    background-color: rgba(173, 24, 24, 1);
}

@media (max-width: 1199px) {
    .title_us {
        margin: 120px 0 120px 0;
    }

    .info_us {
        height: 488px;
        padding: 0 17px 0 15px;
    }

    .about__us {
        width: 51px;
        height: 25px;
    }

    .text_description {
        margin: 30px 0 60px 0;
        width: 690px;
        height: 336px;
        font-size: 35px;
        line-height: 47.81px;
    }

    .btn__link {
        width: 255px;
        height: 67px;
    }
}

@media (max-width: 767px) {

    .info_us {
        width: 100%;
        height: 420px;
    }

    .text_description {
        width: 100%;
        height: 300px;
        font-size: 22px;
        margin-bottom: 30px;
    }

    .btn__link {
        width: 194px;
        height: 51px;
        display: inline-block;
        font-size: 16px;
        line-height: 21.86px;
        padding: 14px 27px 14px 27px;
    }
}