.body_fixed {
    overflow: hidden;
}

.header {
    padding: 33px 124px;
}

.logo_section {
    width: 100%;
}

.header-inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link_logo {
    width: 127px;
    height: 22px;
}

.nav {
    display: flex;
    gap: 72px;
}

.nav-link {
    display: block;
    white-space: nowrap;
    text-align: center;
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: -0.03em;
    display: inline-block;
    text-decoration: none;
    color: rgba(18, 18, 18, 1);
}
/* burger */ 

.burger-btn {
    display: none;
}

.burger {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transform: all 0.3s ease;
}

.burger_open {
    opacity: 1;
    visibility: visible;
}

.burger__content {
    width: 40%;
    height: 100%;
    padding: 20px;
    padding-top: 100px;
    background-color: #fff;
}

.logo-burger {
    background-image: url(/Metrika-one/resurces/logo_burger.png);
    width: 156px;
    height: 26px;
}

.burger-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.burger-nav__link {
    display: block;
    padding: 10px;
}

@media (max-width: 767px) {

    .nav {
        display: none;
    }

    .burger-btn {
        position: absolute;
        right: 10%;
        z-index: 100;
        display: block; 
        width: 50px;
        height: 25px;
        background-image: url(/Metrika-one/resurces/burger-btn.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .burger-btn_open {
        background-image: url(/Metrika-one/resurces/icons_close_burger.png);
        width: 34px;
        height: 34px;
    }



}