@import url("header.css");
@import url("intro.css");
@import url("aboutUs.css");
@import url("projects.css");
@import url("services.css");
@import url("footer.css");
@import url("gallery.css");
@import url("reviews.css");

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Manrope';
    width: 100%;
    background: rgba(255, 255, 255, 1);
}
